body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #500000, #911818, #500000);
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    text-align: center;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
}

button {
    background-color: #e14343;
    color: black;
    display: block;
    font-weight: bold;
    margin: 3vw auto;
    min-width: 120px;
    border: none;
    padding: 0 1em;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    outline: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.wait {
    cursor: wait;
}

.gameplayWrapper {
    margin: 0px 200px;
}

#timer, h1, hr, #gameplayInfo {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    color: darkgrey;
}

h1, #altInputText {
    color: white;
    text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
}

h3#altInputText {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #F0F0F0;
    margin: 5px;
    margin-bottom: -30px;
}

#timer {
    margin-top: 0;
}

#gameplayInfo {
    color: black;
    font-size: 1.5em;
}

h3#timer.victory {
    color: #184222;
}

.hidden {
    display: none;
}

li {
    font-size: 2em;
    color: gray;
    list-style: none; 
    position: relative;
}

li::before {
    color: firebrick;
    content: "\2022";
    position: absolute;
    left: -1.2em;
}

input:focus {
    outline:none;
}
